h2{
    text-align: center;
}

img.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.part {
    cursor: pointer;
}
.part img {
    width: 100%;
    height: auto;
    transition: transform 0.2s; /* Animation for hover effect */
}
.part:hover img {
    transform: scale(1.05); /* Slightly scale up images on hover */
}
.part-text {
    text-align: center;
    margin-top: 10px;
}
.navigation {
    text-align: center;
    margin-top: 20px;
}

.image-container {
    position: relative;
}
.fixed-size-image {
    width: 300px;
    height: 200px;
}
.fixed-size-image-small {
    width: 150px;
    height: 100px;
}
.draggable {
    cursor: grab;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 20px;
}
.instruction-container {
    height: 100px;
    position: relative;
}
.instruction-image {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.tips{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.tip-mid{
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.top-mg{
    margin-top: 30px;
}

.custom-list {
    font-size: 18px;
    line-height: 1.6; /* Adjust line spacing as needed */
}

.custom-list-item {
    text-indent: -1em; /* Adjust as needed */
    padding-left: 1em; /* Adjust as needed */
    margin-bottom: 0.5em; /* Adjust space between items as needed */
}

.quiz-start-section {
    background-color: aliceblue;
    width: 53%;
    border: solid rgb(205, 200, 200) 1px;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
}

.quiz-title {
    text-align: center;
}

.quiz-introduction {
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 40px;
}

.quiz-start-button-section {
    display: flex;
    justify-content: center;
}

.quiz-question-section {
    background-color: aliceblue;
    width: 53%;
    border: solid rgb(205, 200, 200) 1px;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.quiz-question-section-order {
    background-color: aliceblue;
    width: 100%;
    border: solid rgb(205, 200, 200) 1px;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.quiz-question {
    margin-top: 10px;
}

.quiz-image img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice {
    margin-top: 10px;
    border: solid 1px rgb(184, 182, 182);
    border-radius: 10px;
    font-size: 19px;
    padding: 15px;
}

.correct-choice:hover {
    background-color: #cfc8f0;
    cursor: pointer;
}

.wrong-choice:hover {
    background-color: #cfc8f0;
    cursor: pointer;
}

.next-question-section {
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.next-question-button {
    display: none;
}

.show-correct-choice {
    background-color: rgb(67, 151, 222) !important;
}

.show-wrong-choice {
    background-color: rgb(247, 74, 74) !important;
}

.question-explanation {
    font-size: 19px;
    margin-top: 30px;
    display: none;
}

.picture-multiple-choice-section {
    display: flex;
    margin-top: 50px;
}

.picture-choice {
    flex-grow: 1;
    width: 49%;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.picture-choice img {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin-bottom: 10px;
}

.q6 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
}

.correct-picture-choice:hover {
    transition: transform 0.2s;
    transform: scale(1.05); /* Slightly scale up images on hover */
}
.wrong-picture-choice:hover {
    transition: transform 0.2s;
    transform: scale(1.05); /* Slightly scale up images on hover */
}

.steps-container, .order-boxes {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.quiz_draggable {
    cursor: move;
    margin-left: 8px; 
    margin-right: 12px; 
    width: 152px; 
    height: 110px;
    padding-right: 8px;
    padding-top: 8px;
}
  
.quiz_droppable {
    width: 164px;
    height: 124px;
    border: 2px dashed #ccc; 
    margin-right: 8px;
    margin-top: 12px;
    display: inline-block; 
}

.incorrect {
    background-color:  rgb(247, 74, 74);
    border: 2px solid rgb(247, 74, 74); 
}

.correct {
    background-color:  rgb(67, 151, 222) ; 
    border: 2px solid rgb(67, 151, 222) ; 
}

.correct_order {
    margin-right: 12px; 
    width: 160px; 
    height: 120px;
}

.steps-container-match, .order-boxes-match, .steps-descriptions {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.quiz_match_spic {
    margin-right: 24px; 
    width: 320px; 
    height: 240px;
}

.quiz_droppable_match {
    /* Style your droppable boxes here */
    width: 324px;
    height: 94px; 
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}



.quiz_draggable_match {
    text-align: center;
    width: 320px;
    height: 90px;

    margin-right: 24px;
    margin-bottom: 12px;

    cursor: grab;
    border: solid 1px rgb(184, 182, 182);
    border-radius: 10px;
    font-size: 19px;

}

.incorrect_match {
    background-color:  rgb(247, 74, 74);
    border: 2px solid rgb(247, 74, 74); 
}

.correct_match {
    background-color:  rgb(67, 151, 222) ; 
    border: 2px solid rgb(67, 151, 222) ; 
}
