{% extends "layout.html" %}

{% block content %}
<div class="row mb-4">
  <h4 class="col">Step 6: Add on the rain fly</h4>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <img src="{{ url_for('static', filename='image/part2_6.jpg') }}" alt="Lay out the tarp" class="img-fluid">
  </div>

  <div class="col-md-6">
    <div class="border-start border-5 ms-3 ps-3">
        <h4>Add on a rain fly if you have one, especially on a rainy day!</h4>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-start">
      <a href="{{ url_for('learn_step2_5') }}" class="btn btn-outline-dark">Previous Step</a>
  </div>
  <div class="col text-end">
      <a href="{{ url_for('learn_step3') }}" class="btn btn-outline-dark">Next Part</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scripts can remain the same as previously provided -->
{% endblock %}
