{% extends "layout.html" %}

{% block content %}
<div class="container my-3">
    <div class="row mb-4 text-center">
        <h4 class="col">Part 2: Set up the tent</h4>
    </div>
    
    <div class="row g-3">
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_1') }}">
                <img src="{{ url_for('static', filename='image/part2_1.png') }}" alt="Lay a tarp" class="img-fluid">
            </a>
                <p>Step1: Lay a tarp</p>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_2') }}">
                <img src="{{ url_for('static', filename='image/part2_2.png') }}" alt="Lay your tent onto the tarp" class="img-fluid">
            </a>
            <p>Step2: Lay your tent onto the tarp</p>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_3') }}">
                <img src="{{ url_for('static', filename='image/part2_3.jpg') }}" alt="Connect your tent poles" class="img-fluid">
            </a>
            <p>Step3: Connect your tent poles</p>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_4') }}">
                <img src="{{ url_for('static', filename='image/part2_4.jpg') }}" alt="Insert into corresponding flaps in the tent" class="img-fluid">
            </a>

            <p>Step4: Insert into corresponding flaps in the tent</p>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_5') }}">
                <img src="{{ url_for('static', filename='image/part2_5.jpg') }}" alt="Stake the tent to the ground" class="img-fluid">
            </a>
            
            <p>Step5: Stake the tent to the ground</p>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('learn_step2_6') }}">
                <img src="{{ url_for('static', filename='image/part2_6.jpg') }}" alt="Add on the rain fly" class="img-fluid">
            </a>
            <p>Step6: Add on the rain fly</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-start">
            <button class="btn btn-outline-dark" onclick= "window.location.href='/learn/1';">Previous Part</button>
        </div>
        <div class="col text-end">
            <button class="btn btn-outline-dark" onclick= "window.location.href='/learn/3';">Next Part</button>
        </div>
    </div>
</div>
{% endblock %}
