{% extends "layout.html" %}
{% block content %}
<div class="row mb-4">
    <div class="steps">Step 2: <div class="step-content">Lay your tent onto the tarp</div></div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='image/part2_7.png') }}" alt="Lay tent onto the tarp" class="img-fluid s2-img">
    </div>

    <div class="col-md-5 top-mg">
        <h3>Notes</h3>
        <div class="custom-list">
          <div class="custom-list-item big-item">• Put the bottom side of the tent on the tarp</div>
          <div class="custom-list-item big-item">• Decide the direction of windows and door of the tent</div>
        </div>
  </div>
</div>

<div class="row mt-4">
    <div class="col text-start">
        <a href="{{ url_for('learn_step2_1') }}" class="btn btn-outline-dark">Previous Step</a>
    </div>
    <div class="col text-end">
        <a href="{{ url_for('learn_step2_3') }}" class="btn btn-outline-dark">Next Step</a>
    </div>
</div>

{% endblock %}