{% extends "layout.html" %}

{% block content %}
<div class="row mb-4">
  <div class="steps">Step 5: <div class="step-content">Raise the tent and stake the tent into ground</div></div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='image/part2_5.jpg') }}" alt="Lay out the tarp" class="img-fluid s5-img">
  </div>

  <div class="col-md-5 top-mg">
    <h3>Notes</h3>
    <div class="custom-list">
      <div class="custom-list-item big-item">• Pull the tent corners apart to square the tent</div>
      <div class="custom-list-item">• Make sure the poles are secure and untangled</div>
      <div class="custom-list-item big-item">• Use metal tent stakes to fit through the flaps</div>
      <div class="custom-list-item big-item">• Push stakes into the ground</div>
      
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-start">
      <a href="{{ url_for('learn_step2_4') }}" class="btn btn-outline-dark">Previous Step</a>
  </div>
  <div class="col text-end">
      <a href="{{ url_for('learn_step2_6') }}" class="btn btn-outline-dark">Next Step</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scripts can remain the same as previously provided -->
{% endblock %}
