{% extends "layout.html" %}

{% block content %}
<div class="row mb-4">
  <div class="steps">Step 6: <div class="step-content">Add on the rain fly</div></div>
</div>
<div class="row">
    <img src="{{ url_for('static', filename='image/part2_6.jpg') }}" alt="Lay out the tarp" class="img-fluid  s6-img">
</div>
<div class="row s6-text">
      <div>Add on a rain fly if you have one, especially on a rainy day!</div>
</div>


<div class="row mt-4">
  <div class="col text-start">
      <a href="{{ url_for('learn_step2_5') }}" class="btn btn-outline-dark">Previous Step</a>
  </div>
  <div class="col text-end">
      <a href="{{ url_for('learn_step3') }}" class="btn btn-outline-dark">Next Part</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scripts can remain the same as previously provided -->
{% endblock %}
