{% extends "layout.html" %}
{% block content %}
<div class="row mb-4">
    <div class="steps">Step 3: <div class="step-content">Connect your tent poles</div></div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="video-container">
          <iframe width="600" height="350"
            src="https://www.youtube.com/embed/fEpGfQic7-c?si=Iw4FeeGYNrfb7h2R&amp;start=12"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-5 top-mg">
        <h3>Notes</h3>
        <div class="custom-list">
          <div class="custom-list-item big-item">• Assemble the tent poles</div>
          <div class="custom-list-item">• Stretching and clicking poles into place</div>
          <div class="custom-list-item">• If they're numbered, match the numbers to assemble each pole correctly</div>
          <div class="custom-list-item big-item">• Fit the ends of each pole into the eyelets at the tent's corners</div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col text-start">
        <a href="{{ url_for('learn_step2_2') }}" class="btn btn-outline-dark">Previous Step</a>
    </div>
    <div class="col text-end">
        <a href="{{ url_for('learn_step2_4') }}" class="btn btn-outline-dark">Next Step</a>
    </div>
</div>
{% endblock %}