{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'multiple_choice_page.js') }}"></script>
<script>
    
</script>

<div class="quiz-question-section">
    <strong>7 / 8</strong>
    <h4 class="quiz-question">When selecting a tent for camping in a rainy area, what feature is most important? (10pt)</h4>
    <div class="quiz-image">
        <img src="{{ url_for('static', filename='image/question7.png') }}" alt="Image for question 7">
    </div>
    <div class="multiple-choice-section">
        <div class="choice wrong-choice">A) A tent with a lot of windows for ventilation</div>
        <div class="choice wrong-choice">B) A waterproof rainfly that covers the entire tent</div>
        <div class="choice correct-choice">C) A tent that is lightweight and easy to carry</div>
        <div class="choice wrong-choice">D) Bright colors to improve visibility during the day</div>
    </div>
    <div class="question-explanation">
        Most basic tents will have two tent poles that cross each other to form an X that will form the basic frame of the tent. Thus C is correct.
    </div>
    <div class="next-question-section">
        <a href="{{ url_for('quiz_8') }}" class="btn btn-outline-dark next-question-button">Next Question</a>
    </div>
</div>
{% endblock %}