{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'multiple_choice_page.js') }}"></script>
<script>
    
</script>

<div class="quiz-question-section" data-question-id="4">
    <div class="header-section">
        <span class="question-number">4 / 8</span>
        <span class="score-display">Score: {{ current_score }}/100</span>
      </div>
    <h4 class="quiz-question">How do tent poles typically connect for tent assembly? (10pt)</h4>
    <div class="quiz-image">
        <img src="{{ url_for('static', filename='image/question4-5.jpg') }}" alt="Image for question 4">
    </div>
    <div class="multiple-choice-section">
        <div class="choice wrong-choice">A) With a locking key mechanism</div>
        <div class="choice correct-choice">B) Using bungee ropes or by matching numbered sections</div>
        <div class="choice wrong-choice">C) Magnetically</div>
        <div class="choice wrong-choice">D) Using adhesive tape</div>
    </div>
    <div class="question-explanation">
        Depending on your particular tent, they may be connected with bungee ropes, or they may be numbered and require that you connect them yourself. Put the tent poles together and lay them across the flat tent. Thus B is correct.
    </div>
    <div class="next-question-section">
        <a href="{{ url_for('quiz_5') }}" class="btn btn-outline-dark next-question-button">Next Question</a>
    </div>
</div>
{% endblock %}