{% extends "layout.html" %}
{% block content %}
<div class="quiz-start-section">
    <h1 class="quiz-title">Tent Building Quiz!</h1>
    <p class="quiz-introduction">This quiz consists of <strong>eight questions</strong> and totals <strong>100 points</strong>. It includes multiple choice, drag-and-drop, and order steps questions. The goal is to test your knowledge of different steps in building a tent.<br><br>If you are ready, feel free to start!</p>
    <div class="quiz-start-button-section">
        <a href="{{ url_for('q2') }}" class="btn btn-primary start-quiz-button">Start Quiz</a>
    </div>
    
</div>
{% endblock %}